.btn-info{
  border-radius: 20px;
  float: left;
  margin: 10px auto;
  color:white;
  font-weight: bolder;
}
.btn-warning{
  border-radius: 20px;
  float: right;
  margin: 10px auto;
  color:white;
  font-weight: bolder;


}

